.login-form {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.login-form__body {
  border: 1px solid #F0F0F0;
  width: 400px;
}

.login-form__title {
  text-align: center;
  margin-bottom: 30px;
}

.login-form__message {
  height: 20px;
  margin-left: 5%;
  margin-right: 5%;
  color: #e99;
}

.login-form__field {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.login-form__field label {
  width: 20%;
  margin-left: 5%;
}

.login-form__field input {
  width: 70%;
  margin-right: 5%;
}

.login-form__btn {
  display: block;
  margin: 70px auto;
  padding: 8px 20px;
  cursor: pointer;
}

.login-form__btn:hover {
  background-color: #e3e3e3;
}
